<div class="new-fweet">
  <h2>What's on Your Mind?</h2>

  <form method="POST" action="/tweets">
    <label for="content">Write your Fweet here:</label><br>
    <textarea id="content" cols="60" rows="20" name="content"></textarea><br><br>
    <input style="font-size: 1rem; border-radius: 5px;" id="submit" type="submit" value="Fweet">
  </form>
</div>